.cart{
    padding-top: 30px;
    &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        padding: 20px 0;
        border-bottom: 1px solid;
        background: linear-gradient(to right, black 70%, rgb(244, 248, 4) 50%);
        &-left{
            display: flex;
            align-items: center;
            column-gap: 10px ;
        }
        .cart-item-title{
           color: white;
        }
        .price{
            color: rgb(14, 13, 13);
        }
        &-img{
            width: 200px;
            box-shadow: 0  8px 13px rgba(95, 1, 1, 0.801);
            border-radius: 10px;
        }
        &-right{
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
        .min{
            width: 25px;
            height: 25px;
            background-color: #fc0a0a;
            border-radius: 5px ;
            border: 1px solid black;
            color: wheat;
            cursor: pointer;
        }
        .plus{
            width: 25px;
            height: 25px;
            background-color: #2ffd06;
            border-radius: 5px ;
            border: 1px solid black;
            cursor: pointer;
        }
        .del{
            background-color: #fffdfd;
            height: 25px;
            border-radius: 5px;
            cursor: pointer;
        }
   
    }
    .btn{
        background-color: #e7e4e4f5;
        margin-left: 1200px;
        height: 30px;
        border-radius: 8px;
        border: 1px solid black;
        cursor: pointer;
    }
}