
.detail{
    
    padding-top: 50px;

    &-img{
        width: 100%;
        box-shadow: 0 10px 20px rgba(63, 1, 1, 0.842);
        border-radius: 10px;
    }
    &-title{
        margin-bottom: 30px;
    }

    &-text{
        margin-bottom: 10px;
    }
    .btn1{
        background-color: red;
        color: white;
        border:1px solid black ;
        height: 20px;
        width: 25px;
        border-radius: 3px;
    }
}